 <% if logged_in? %> <h1> Welcome, <%= current_user.username%>!</h1>
 <%else%>
 <%end%>
 <% current_user.bottles.each do |user_bottle| %>
    <li><%= link_to user_bottle.name, user_bottle_path(@user, user_bottle) %> || <%= user_bottle.vintage %>  || $<%= user_bottle.price %></li>
    
<% end %>

<br>
<br>
<br>
<hr>
<h3>Add a bottle to your collection:</h3>
<%= form_for [@user, @bottle] do |f| %>
   <%= f.text_field :name, :placeholder => 'Name' %><br>
   <%= f.number_field :price, :placeholder => 'Price' %><br>
   <%= f.number_field :vintage, :placeholder => 'Vintage' %><br>
   <%= f.radio_button :category, 'red', :checked => true %>
   <%= f.label :category_red, 'Red' %>
   <%= f.radio_button :category, 'white' %>
   <%= f.label :category_white, 'White' %>
   <%= f.radio_button :category, 'rosé' %>
   <%= f.label :category_rosé, 'Rosé' %>
   <%= f.radio_button :category, 'sparkling' %>
   <%= f.label :category_sparkling, 'Sparkling' %>
   <%= f.hidden_field :user_id, :value => @user.id %><br>
      <%= f.fields_for :producer, @bottle do |producer_field| %>
         <%= producer_field.text_field :name, :placeholder => 'Producer' %>
      <%end%>
      <br>
   <%= f.submit %>
<% end %>



