<h1><%= @producer.name %></h1>
<h2><%= link_to @producer.country.name, country_path(@producer.country) %></h2>
<h2><%= @producer.appellation.name %></h2>
<h3><%= @producer.appellation.tier %></h3>
<h3><%= @producer.appellation.region %></h3>
<table>
	<% @producer.bottles.each do |bottle| %>
	<tr>
		<th>Name</th>
		<th>Year</th>
		<th>Price</th>
	<tr>
		<td><%=bottle.name%></td>
		<td><%=bottle.vintage%></td>
		<td><%=bottle.price%></td>
	</tr>
</table>
<% end %>
